<!-- FILE: /components/client-bottom-nav.html -->
<nav class="bottom-nav-container">
    <a href="/client/dashboard.html" class="nav-item active">
        <i class="fa-solid fa-house"></i>
        <span>Dashboard</span>
    </a>
    <a href="/client/my-jobs.html" class="nav-item">
        <i class="fa-solid fa-briefcase"></i>
        <span>My Jobs</span>
    </a>
    <a href="/client/post-job.html" class="nav-item add-task">
        <div class="add-task-icon">
            <i class="fa-solid fa-plus"></i>
        </div>
        <span>Add Task</span>
    </a>
    <a href="/client/review-submissions.html" class="nav-item">
        <i class="fa-solid fa-clipboard-check"></i>
        <span>Review</span>
    </a>
    <a href="/client/billing.html" class="nav-item">
        <i class="fa-solid fa-wallet"></i>
        <span>Billing</span>
    </a>
</nav>