<div class="client-header-wrapper">
    <nav class="client-header container">
    
        <div class="client-header__group client-header__group--left">
            <label for="client-menu-toggle" class="client-header__menu-btn">
                <i class="fa-solid fa-bars"></i>
            </label>
            <a href="/client/dashboard.html" class="client-header__logo">ChotoTask</a>
        </div>

        <div class="client-header__group client-header__group--center">
            <div class="client-header__balance">
                <strong>৳5000</strong>
            </div>
        </div>

        <div class="client-header__group client-header__group--right">
            <a href="#" class="client-header__icon-btn client-header__icon-btn--small">
                <i class="fa-solid fa-bell"></i>
            </a>
            <a href="#" class="client-header__icon-btn client-header__avatar">
                <i class="fa-solid fa-user"></i>
            </a>
        </div>
        
    </nav>
</div>