<nav class="client-bottom-nav">
    <a href="/client/dashboard.html" class="bottom-nav__link active">
        <i class="fa-solid fa-chart-pie"></i>
        <span>Dashboard</span>
    </a>
    <a href="/client/my-jobs.html" class="bottom-nav__link">
        <i class="fa-solid fa-briefcase"></i>
        <span>My Jobs</span>
    </a>
    <a href="/client/post-job.html" class="bottom-nav__link bottom-nav__link--cta">
        <i class="fa-solid fa-plus"></i>
    </a>
    <a href="/client/review-submissions.html" class="bottom-nav__link">
        <i class="fa-solid fa-clipboard-check"></i>
        <span>Review</span>
    </a>
    <a href="/client/billing.html" class="bottom-nav__link">
        <i class="fa-solid fa-wallet"></i>
        <span>Billing</span>
    </a>
</nav>