<input type="checkbox" id="worker-menu-toggle" class="menu-toggle-input">
<div class="client-menu-container">
    <div class="client-menu-content">
        <div class="client-menu-header">
            <h2>Menu</h2>
            <label for="worker-menu-toggle" class="client-menu-close-btn">
                <i class="fa-solid fa-xmark"></i>
            </label>
        </div>
        <nav class="client-menu-nav">
            <a class="client-menu-link" href="/worker/dashboard.html">
                <div class="nav-icon-wrapper"><i class="fa-solid fa-chart-pie"></i></div>
                <span>Dashboard</span>
            </a>
            <a class="client-menu-link" href="/worker/tasks.html">
                <div class="nav-icon-wrapper"><i class="fa-solid fa-list-check"></i></div>
                <span>Tasks</span>
            </a>
            <a class="client-menu-link" href="/worker/submissions.html">
                <div class="nav-icon-wrapper"><i class="fa-solid fa-paper-plane"></i></div>
                <span>Submissions</span>
            </a>
            <a class="client-menu-link" href="/worker/withdraw.html">
                <div class="nav-icon-wrapper"><i class="fa-solid fa-dollar-sign"></i></div>
                <span>Withdraw</span>
            </a>
            <a class="client-menu-link" href="/worker/transactions.html">
                <div class="nav-icon-wrapper"><i class="fa-solid fa-receipt"></i></div>
                <span>Transactions</span>
            </a>
            <a class="client-menu-link" href="/worker/profile.html">
                <div class="nav-icon-wrapper"><i class="fa-solid fa-user-circle"></i></div>
                <span>Profile</span>
            </a>
            <a class="client-menu-link" href="/worker/premium.html">
                <div class="nav-icon-wrapper"><i class="fa-solid fa-star"></i></div>
                <span>Premium</span>
            </a>
            <a class="client-menu-link" href="/worker/support.html">
                <div class="nav-icon-wrapper"><i class="fa-solid fa-headset"></i></div>
                <span>Support</span>
            </a>
        </nav>
        <div class="client-menu-footer">
            <a href="#" class="btn-logout">Logout</a>
        </div>
    </div>
</div>