<nav class="client-bottom-nav">
    <div class="client-bottom-nav__links-container">
        <a href="/worker/dashboard.html" class="bottom-nav__link active">
            <div class="bottom-nav__icon-wrapper"><i class="fa-solid fa-chart-pie"></i></div>
            <span>Dashboard</span>
        </a>
        <a href="/worker/tasks.html" class="bottom-nav__link">
            <div class="bottom-nav__icon-wrapper"><i class="fa-solid fa-list-check"></i></div>
            <span>Tasks</span>
        </a>
        <a href="/worker/submissions.html" class="bottom-nav__link">
            <div class="bottom-nav__icon-wrapper"><i class="fa-solid fa-paper-plane"></i></div>
            <span>Submissions</span>
        </a>
        <a href="/worker/transactions.html" class="bottom-nav__link">
            <div class="bottom-nav__icon-wrapper"><i class="fa-solid fa-receipt"></i></div>
            <span>Transactions</span>
        </a>
    </div>
    <a href="/worker/withdraw.html" class="bottom-nav__link--cta">
        <i class="fa-solid fa-dollar-sign"></i>
    </a>
</nav>