<nav class="client-bottom-nav">
    <div class="client-bottom-nav__links-container">
        <a href="/client/dashboard.html" class="bottom-nav__link active">
            <div class="bottom-nav__icon-wrapper">
                <i class="fa-solid fa-chart-pie"></i>
            </div>
            <span>Dashboard</span>
        </a>
        <a href="/client/my-jobs.html" class="bottom-nav__link">
            <div class="bottom-nav__icon-wrapper">
                <i class="fa-solid fa-briefcase"></i>
            </div>
            <span>My Jobs</span>
        </a>
        <a href="/client/review-submissions.html" class="bottom-nav__link">
            <div class="bottom-nav__icon-wrapper">
                <i class="fa-solid fa-clipboard-check"></i>
            </div>
            <span>Review</span>
        </a>
        <a href="/client/billing.html" class="bottom-nav__link">
            <div class="bottom-nav__icon-wrapper">
                <i class="fa-solid fa-wallet"></i>
            </div>
            <span>Billing</span>
        </a>
    </div>

    <a href="/client/post-job.html" class="bottom-nav__link--cta">
        <i class="fa-solid fa-plus"></i>
    </a>
</nav>